
/* Em seu arquivo de estilo CSS (styles.css) */
.download-message {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
  }
  




body {
    background-color: #1a1b1d !important;
    color: white !important;
  }
  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: white;
      color: black;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-principal {
    color: white;
    margin-top: 10% !important;
    padding: 20px;
    /*background: rgba(172, 21, 21, 0.1) !important;*/
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.card-principal h2 {
    padding: 10px;
    font-size: 2em;
}

.card-tarefas {
    width: 100%;
    text-align: center;
    /*border: 1px solid blue;*/
}



.central-menu{
    text-align: center;
}
.central-menu i{
    font-size: 2em;
}


.todo-header input {
    border: none;
    border-radius: 5px;
    height: 20px;
    
}

.todo-header button {
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(51, 212, 100);
}

.card-principal ul {
    list-style: none;
}

.card-principal h2{
    text-align: center;
}


.lista-item {
    padding: 10px;
    display: inline-flex;
    margin-top: 10px;
    border: none;
    width: 500px;
}


.lista-item form {
    width: 100%;
    display: flex;
}

.lista-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}

.btn-group{
    display: block !important;
}

.btn-menu a{
    padding: 10px;
}

.btn-menu a:focos{
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
}


.lista-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
}

.lista-item div {
    flex-grow: 2;
}

.lista-item .edit {
    color : rgb(39, 147, 219);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
}

.lista-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
}

.lista-item-corpo{
    display: block;
}


.lista-item-conteudo li{
   margin-left: 20px;
}

.lista-item-titulo{
  font-weight: bold;
}

.card-item-customizado{
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #202124;
    text-align: left;
    border-radius: 8px;
}

.lista-item-conteudo:hover{
    cursor: pointer;
}


.color-palette{
    text-align: center;
    margin: auto;
    background-color: #1A1B1D;
    border-radius: 30px;
    padding: 10px 20px 0px 20px;
    
}
.color, .color-update, .color-save{
    display: inline;
    -webkit-appearance: none;
   
}  

.label-color{
    width: 30px;
    height: 30px;
    border-radius: 35px;
}



.modal-tarefa{
    border-radius: 5px;
    /*background: #202124 !important;*/
    text-align: left;
    transition-duration: 0.218s;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.37);
}


.modal-tarefa .modal-header, .modal-footer{
    border-bottom: 0px solid !important;
    border-top:  0px solid !important;
}


.modal-tarefa input, textarea{
    background-color: transparent !important;
    border: 0px solid !important;
    color: #FFFFFF !important;
}

.modal-tarefa textarea{
    width: 100% !important;
    height: 100% !important;
    resize: none !important;
    min-height: 300px;
}

.modal-tarefa input:focus, textarea:focus{
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
}

.lista-item-menu{
    text-align: right;
}


.selecao-cor{
    width: 250px;
    text-align: center;
    margin: auto;
}

.selecao-cor span{
    font-size: 10pt;
}


.btn-add{
    color: rgb(236, 234, 234) !important;
    text-align: center;
    font-size: 30px;
}

.add-task{
    background-color: #FFFFFF;
  
}

.add-task textarea,input{
    width: 500px;
}

.add-task textarea{
    border: 1px solid black;
    height: 500px;
    resize: none;
}



/* QUILL */

.ql-toolbar.ql-snow, .ql-container.ql-snow, .ql-toolbar{
    border: 0px solid !important;
}

.content-edit{
    font-size: 1em !important;
}