</div>
</div>
<!-- <script src="/static/functions/save.js"></script>
<script src="/static/functions/update.js"></script> -->
<script src="/static/functions/saveAndUpdate.js"></script>
<script src="/static/functions/delete.js"></script>
</body>