</div>
</div>

<!-- Dentro do seu arquivo HTML principal (index.html) -->
<div id="download-message" class="download-message">
    <p>Instale nosso aplicativo para uma melhor experiência!</p>
    <button id="close-message-button">Fechar</button>
</div>
<!-- <script src="/static/functions/save.js"></script>
<script src="/static/functions/update.js"></script> -->
<script src="/static/functions/saveAndUpdate.js"></script>
<script src="/static/functions/delete.js"></script>
</body>