<!DOCTYPE html>
<head>
    <title>To-Do-List</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b183461405.js" crossorigin="anonymous"></script>
</head>

<body>