<%- include('template/header'); %>
<div class="todo-container">
    <h2>To-Do List</h2>
    <div class="container">
        <form action="/save" method="POST" class="todo-header add-task">
            <input type="text" name="title" placeholder="Título">
            <textarea type="text" name="content"></textarea>
            <button type="submit"><span class="fas fa-plus"></span></button>
        </form>
        <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
<%- include('template/footer'); %>